<canvas id="chart" width="600" height="600"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
<script>
    Chart.defaults.global = {
        animation: true,
        animationSteps: 60,
        animationEasing: "easeOutQuart"
    }

    var jsonData = $.ajax({
        url: '/api/help-tst',
        dataType: 'json'
    }).done(function (results) {
        var labels = [], data = [];
        results.forEach(function(perf) {
            labels.push(new Date(perf.timestamp));
            data.push(parseFloat(perf.cpu_perc));
        });

        var chartData = {
            labels : labels,
            datasets : [{
                fillColor             : "rgba(151,187,205,0.2)",
                strokeColor           : "rgba(151,187,205,1)",
                pointColor            : "rgba(151,187,205,1)",
                pointStrokeColor      : "#fff",
                pointHighlightFill    : "#fff",
                pointHighlightStroke  : "rgba(151,187,205,1)",
                data                  : data
            }]
        };
        var ctx = $('#chart');
        var perfChart = new Chart(ctx, {
            type: "line",
            data: chartData,
            bezierCurve: false
        });
    });
</script>
{{!--{{#each perfData}}
<div>
    {{timestamp}}<br /> {{cpu_perc}}
    <br /> {{vmem_perc}}
    <br /> {{smem_perc}}
    <br />
</div>
{{/each}}--}}