<h1 id="hostname"></h1>

<svg width="960" height="500"></svg>

<div class="processes">
    <table class="bordered">
        <thead>
          <tr>
              <th data-field="pid">PID</th>
              <th data-field="pname">Name</th>
              <th data-field="pstatus">Status</th>
              <th data-field="pcpu_perc">CPU (%)</th>
              <th data-field="pmem_perc">Memory (%)</th>
              <th data-field="puser">User</th>
          </tr>
        </thead>

        <tbody id="procInfo">
        </tbody>
      </table>
</div>

<script type="text/javascript" src="./js/procDataSocket.js"></script>

<script src="./js/d3charts.js"></script>

