.component {
    text-align: center;
}

.value {
    font-size: 2rem;
}

.card-title {
    font-style: medium italic;
}

.date {
    color: #90a4ae;
}

.chart_wrapper {
    position: relative;
    overflow-x: scroll;
}

.chart_wrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.chart_area_wrapper {
    width: 15000px;
    overflow-x: scroll;
}